@import url('https://fonts.googleapis.com/css2?family=Palanquin:wght@100;300;400;500;600;700&display=swap');
body {
  margin: 0;
  font-family: 'Palanquin', sans-serif;
}

/* Add higher specificity to the button styles */
.confirm-alert-button.confirm-alert-button-yes {
  background-color: green;
  /* Add other styles as needed */
}

.confirm-alert-button.confirm-alert-button-no {
  background-color: red;
  /* Add other styles as needed */
}